# About Dataset

**Context**  
This is a small subset of dataset of Book reviews from Amazon Kindle Store category.

**Content**  
5-core dataset of product reviews from Amazon Kindle Store category from May 1996 - July 2014.  
Contains total of 982,619 entries.  
Each reviewer has at least 5 reviews and each product has at least 5 reviews in this dataset.  

**Columns:**
- `asin` - ID of the product, like B000FA64PK
- `helpful` - helpfulness rating of the review â€“ example: 2/3.
- `overall` - rating of the product.
- `reviewText` - text of the review (heading).
- `reviewTime` - time of the review (raw).
- `reviewerID` - ID of the reviewer, like A3SPTOKDG7WBLN
- `reviewerName` - name of the reviewer.
- `summary` - summary of the review (description).
- `unixReviewTime` - unix timestamp.

**Acknowledgements**  
This dataset is taken from Amazon product data, Julian McAuley, UCSD website.  
[http://jmcauley.ucsd.edu/data/amazon/](http://jmcauley.ucsd.edu/data/amazon/)

**License**  
License to the data files belong to them.

**Inspiration**
- Sentiment analysis on reviews.
- Understanding how people rate usefulness of a review / What factors influence helpfulness of a review.
- Fake reviews / outliers.
- Best rated product IDs, or similarity between products based on reviews alone (not the best idea ikr).
- Any other interesting analysis.

#### best practices to learn in this project  
1. Preprocessing and cleaning
2. Train Test split
3. BOW,TF-IDF,Word2vec
4.Train Ml Algorithm

In [32]:
import pandas as pd
import numpy as np
import seaborn as sns

In [33]:
data=pd.read_csv('all_kindle_review.csv')
data.head()

,Unnamed: 0.1,Unnamed: 0,asin,helpful,rating,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
0,0,11539,B0033UV8HI,"[8, 10]",3,"Jace Rankin may be short, but he's nothing to ...","09 2, 2010",A3HHXRELK8BHQG,Ridley,Entertaining But Average,1283385600
1,1,5957,B002HJV4DE,"[1, 1]",5,Great short read. I didn't want to put it dow...,"10 8, 2013",A2RGNZ0TRF578I,Holly Butler,Terrific menage scenes!,1381190400
2,2,9146,B002ZG96I4,"[0, 0]",3,I'll start by saying this is the first of four...,"04 11, 2014",A3S0H2HV6U1I7F,Merissa,Snapdragon Alley,1397174400
3,3,7038,B002QHWOEU,"[1, 3]",3,Aggie is Angela Lansbury who carries pocketboo...,"07 5, 2014",AC4OQW3GZ919J,Cleargrace,very light murder cozy,1404518400
4,4,1776,B001A06VJ8,"[0, 1]",4,I did not expect this type of book to be in li...,"12 31, 2012",A3C9V987IQHOQD,Rjostler,Book,1356912000

In [34]:
data=data[['reviewText','rating']]

In [35]:
data.head()

                                          reviewText  rating
0  Jace Rankin may be short, but he's nothing to ...       3
1  Great short read.  I didn't want to put it dow...       5
2  I'll start by saying this is the first of four...       3
3  Aggie is Angela Lansbury who carries pocketboo...       3
4  I did not expect this type of book to be in li...       4

In [36]:
data.shape

(12000, 2)

In [37]:
## Missing Values
data.isnull().sum()

reviewText    0
rating        0
dtype: int64

In [38]:
data['rating'].unique()

array([3, 5, 4, 2, 1], dtype=int64)

In [39]:
data['rating'].value_counts()

rating
5    3000
4    3000
3    2000
2    2000
1    2000
Name: count, dtype: int64

In [51]:
## Preprocessing and Cleaning

#Lets solve this case in such as way that 
#ratings <=3 are considered as negative review
#ratings >3 are considered as positive review

## Postive review is 1 and negative review is 0
data['rating']=data['rating'].apply(lambda x:0 if x<3 else 1)

In [41]:
data.head()

                                          reviewText  rating
0  Jace Rankin may be short, but he's nothing to ...       1
1  Great short read.  I didn't want to put it dow...       1
2  I'll start by saying this is the first of four...       1
3  Aggie is Angela Lansbury who carries pocketboo...       1
4  I did not expect this type of book to be in li...       1

In [42]:
data['rating'].value_counts()

rating
1    8000
0    4000
Name: count, dtype: int64

In [43]:
## 1. Lower all the cases
data['reviewText']=data['reviewText'].str.lower()

In [44]:
data.head()

                                          reviewText  rating
0  jace rankin may be short, but he's nothing to ...       1
1  great short read.  i didn't want to put it dow...       1
2  i'll start by saying this is the first of four...       1
3  aggie is angela lansbury who carries pocketboo...       1
4  i did not expect this type of book to be in li...       1

Imporatnt Things to consider while cleaning Corpus

1)Convert to lowercase

text = text.lower()

2)Remove URLs, emails, and mentions (@username)

text = re.sub(r'http\S+|www\S+|@\S+', '',text)

3)Remove punctuation and special characters

text = re.sub(r'[^\w\s]', '', text)

4)Remove numbers

text = re.sub(r'\d+', '', text)

5)Remove extra whitespaces

text = ' '.join(text.split())

In [52]:
#Lower all the cases 
data["reviewText"]=data["reviewText"].str.lower()

In [53]:
data.head()

                                          reviewText  rating
0  jace rankin may short hes nothing mess man hau...       0
1  great short read didnt want put read one sitti...       0
2  ill start saying first four books wasnt expect...       0
3  aggie angela lansbury carries pocketbooks inst...       0
4  expect type book library pleased find price right       0

In [54]:
!pip install bs4 
import re 
from bs4 import BeautifulSoup
import nltk 
from nltk.corpus import stopwords

Collecting bs4
  Downloading bs4-0.0.2-py2.py3-none-any.whl.metadata (411 bytes)
Requirement already satisfied: beautifulsoup4 in d:\dl_nlp_bootcamp\venv\lib\site-packages (from bs4) (4.13.4)
Requirement already satisfied: soupsieve>1.2 in d:\dl_nlp_bootcamp\venv\lib\site-packages (from beautifulsoup4->bs4) (2.7)
Requirement already satisfied: typing-extensions>=4.0.0 in d:\dl_nlp_bootcamp\venv\lib\site-packages (from beautifulsoup4->bs4) (4.14.1)
Downloading bs4-0.0.2-py2.py3-none-any.whl (1.2 kB)
Installing collected packages: bs4
Successfully installed bs4-0.0.2

WARNING: Ignoring invalid distribution ~ensorboard (D:\DL_NLP_Bootcamp\venv\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ensorboard (D:\DL_NLP_Bootcamp\venv\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ensorboard (D:\DL_NLP_Bootcamp\venv\Lib\site-packages)

In [55]:
# Removing special characters 
data["reviewText"]=data['reviewText'].apply(lambda x:re.sub('[^a-zA-Z0-9]+',' ',x))

In [56]:
# Removing stop words
data["reviewText"]=data["reviewText"].apply(lambda x:" ".join([y for y in x.split() if y not in set(stopwords.words("english"))]))
 # Remove URLs, emails, and mentions (@username)
data["reviewText"]=data["reviewText"].apply(lambda x:re.sub(r'http\S+|www\S+|@\S+', ' ',x))

In [57]:
data.head()

                                          reviewText  rating
0  jace rankin may short hes nothing mess man hau...       0
1  great short read didnt want put read one sitti...       0
2  ill start saying first four books wasnt expect...       0
3  aggie angela lansbury carries pocketbooks inst...       0
4  expect type book library pleased find price right       0

In [59]:
import numpy as np 
import sys  
np.set_printoptions(threshold=sys.maxsize)
print(data["reviewText"])

0        jace rankin may short hes nothing mess man hau...
1        great short read didnt want put read one sitti...
2        ill start saying first four books wasnt expect...
3        aggie angela lansbury carries pocketbooks inst...
4        expect type book library pleased find price right
                               ...
11995    valentine cupid vampire jena ian another vampi...
11996    read seven books series apocalypticadventure o...
11997    book really wasnt cuppa situation man capturin...
11998    tried use charge kindle didnt even register ch...
11999    taking instruction look often hidden world sex...
Name: reviewText, Length: 12000, dtype: object

In [61]:
#for removing extra spaces
data["reviewText"]=data["reviewText"].apply(lambda x: " ".join(x.split()))

In [65]:
data.head()

                                          reviewText  rating
0  jace rankin may short hes nothing mess man hau...       0
1  great short read didnt want put read one sitti...       0
2  ill start saying first four books wasnt expect...       0
3  aggie angela lansbury carries pocketbooks inst...       0
4  expect type book library pleased find price right       0